/* Tags */
body{
    background: #fff;
    color: #0f0e0eb0;
}

fieldset{
    text-align: center;
}

h1{
    margin: 2em 0 2em 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: #000000;
    text-align: center;
}
@media screen and (max-width: 650px) {
    h1{
        font-size: large;
    }
}
/* Tags */

/* Header */
.nav-link{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: large;
    color: #fff;
    margin-right: 4em;
}
.nav-link:hover{
    color: #797979;
    transition: all ease .2s;
}
header{
    background-color: #5D4486;
}
.main-logo{
    width: 6em;
}
.navbar-nav{
    margin-left: 20%;
}
.collapse:not(.show) {
    display: block;
}
/********************************/
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav li {
    float: left;
    padding: 17px 16px;
}

/* Add an active class to highlight the current page */
.topnav li.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
    color: #fff;
    margin: .8em .8em 0 2em;
}

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 650px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
/* Header */

/* Background Image - Search Section */
.background{
    background: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 17em;
}
@media screen and (max-width: 900px) {
    .background{
        padding: 9em;
    }
}
@media screen and (max-width: 500px) {
    .background{
        padding: 2em 0;
    }
}

.search-input{
    padding: 1em 0.8em;
    width: 25em;
    background: white;
    outline: 0;
    border: none;
    border-radius: 17px 0 0 0;
    opacity: 80%;
}
@media screen and (max-width: 900px) {
    .search-input{
        width: 15em;
    }
}

.search-button{
    /*background: url(img/lupa.png);*/
    background: white;
    background-position: center;
    background-size: cover;
    padding: 1em;
    border: none;
    border-radius: 0 0 17px 0;
    opacity: 80%;
}

.img-container{
    margin: 0 5em 0;
    background-position: center;
}

.img {
    width: 250px;
}
.img-main-page-container{
    margin: 0 3em 4em 3em;
    width: 250px;
}

/* Background Image - Search Section */

footer{
    background-color: #222121;
    padding: 1em 4em 0 4em;
}

/*trailers*/
.trailers-main-img{
    width: 100%;
    position: relative;
    filter: brightness(0.3);
}
.top-container{
    position: relative;
}
.line{
    width: 100%;
    height: 13px;
    padding: 0;
    background: #5D4486;
    display: block;
    margin-bottom: 2em;
}
.trailers-title{
    /*margin: 2em 0 2em 4em;*/
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: #fff;
    text-align: left;

    position: absolute;
    bottom: -40px;
    left: 2.5em;
}
.movie-title{
    text-align: left;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    margin-left: 1.5em;
    margin-top: -3em;
    margin-bottom: 3em;
}
.modal-xl{
    max-width: 1320px;
}
.trailer-btn{
    border: none;
    background: none;
    margin: 0 3em 4em 3em;
}
.modal-title{
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #5D4486;
}
/*trailers*/

/*topbest*/
.img-topbest {
    margin: 0 0em 4em 0.8em;
    width: 200px;
}
.btn-topbest-container{
    width: 50%;
}
.btn-topbest-container-down{
    width: 70%;
}
.topbest-btn {
    font-size: 1em;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    background: none;
    color: #222121;
    border: none;
}
.topbest-btn:hover{
    background: #5D4486;
    border-radius: 5em;
}
/*topbest*/

/*detalle*/
.detalle-titulo {
    margin: 1.8em 0 1.8em 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #fff;
}
.detalle-container {
    margin: 5em 3em 5em 3em;
    background-image: linear-gradient(#3c3053,rgb(158, 158, 158));
    background-position: center;
    background-size: cover;
}
.texto-detalle {
    margin: 5em;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}
.datos-detalle {
    font-size: 0.8em;
}
.detalle-btn {
    background: #5D4486;
    border-radius: 5em;
    width: 25%;
    margin: auto;
    border: none;
}
.detalle-btn:hover {
    background: #3c3053;
}
.detalle-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    margin-bottom: 3em;
}
.rate-style {
    background: #5D4486;
    text-align: center;
    font-size: 2.5em;
    border-radius: 5em;
    width: 10%;
    margin: auto;
    border: none;
}
/*detalle*/