/* Tags */
body{
    background: #fff;
    color: #0f0e0eb0;
}

fieldset{
    text-align: center;
}

h1{
    margin: 2em 0 2em 0;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: #000000;
    text-align: center;
}
/* Tags */

/* Header */

.mb-3{
    margin-bottom: 0 !important;
}
.header-links{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: large;
    color: #fff;
}
.header-links:hover{
    color: #797979;
    transition: all ease .2s;
}
.navBottons{
    display: inline-block;
    padding: 1em 4em 1em 4em;
}
header{
    background-color: #5D4486;
    /*margin-top: -2em;*/
    /*position: fixed;*/
}
.main-logo{
    width: 6em;
    /*margin-right: 21em*/
}
.selected-nav{
    background-color: #7861AA;
}
.selected-nav::after{
    
}
/* Header */

/* Background Image - Search Section */
.background{
    background: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    padding: 17em;
}

.search-input{
    padding: 1em 0.8em;
    width: 25em;
    background: white;
    outline: 0;
    border: none;
    border-radius: 17px 0 0 0;
    opacity: 80%;
}

.search-button{
    /*background: url(img/lupa.png);*/
    background: white;
    background-position: center;
    background-size: cover;
    padding: 1em;
    border: none;
    border-radius: 0 0 17px 0;
    opacity: 80%;
}

.img-container{
    margin: 0 10em 0;
    background-position: center;
}

.img {
    height: 240px;
    margin: 0 0 4em 0;
  }

/* Background Image - Search Section */

footer{
    background-color: #222121;
    padding: 1em 4em 0 4em;
}
